@font-face {
font-family: 'Avenir Next LT Pro Regular';
font-style: normal;
font-weight: normal;
src: url(../font/AvenirNextLTPro-Regular.woff);
}
@font-face {
font-family: 'Avenir Next LT Pro Demi';
font-style: normal;
font-weight: normal;
src: url(../font/AvenirNextLTPro-Demi.woff);
}
$orange: #f58220;
$blue: #007dc3;
$wine: #db3856;
$light_blue: #adcbe5;
$grey: #6a6a6a;
$light-grey: #828181;

*{
    font-family: 'Avenir Next LT Pro Regular' !important;
    font-size: 14px;

    @media (max-width: 380px) {
        font-size: 12px;
    }
}
// html{
// scroll-behavior: smooth;
// }
.orange{
    color: $orange;
}
.blue{
    color: $blue;
}
.grey{
    color: $grey;
}
.demi{
    font-family: 'Avenir Next LT Pro Demi';
}
.border_bottom{
     border-bottom: 6px solid $wine;
}
.absolute{
    position: absolute;
}
.orange_box_outline_1{
    position: absolute;
    border: 10px solid $orange;
    z-index: -1;
    height: 110rem;
    width: 17%;
    left: -4%;
    top: 18%;
}
.orange_box_outline_2{
   position: absolute;
    border: 10px solid #f58220;
    z-index: -1;
    height: 39rem;
    width: 86%;
    right: 2%;
    top: 123rem;
}
.shadow{
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
}
.border_radius{
    border-radius: 10px;
}

.site-container-small {
  width: 80%;
  margin: 0 auto;
  
   @media (max-width: 1250px) {
      width: 90%;
    }
}
.chapter-video-box{
    padding: 4rem;
    z-index: 1;

    iframe{
        border-width: 3px;
        border-color: $grey;
        border-style: solid;
    }
    
    @media(max-width: 768px){
        padding: 2rem;
    }
}
.carousel-control-next-icon{
    background-image: url(../img/next.png);
}
.carousel-control-prev-icon{
    background-image: url(../img/previous.png);
}
.carousel-control-next, .carousel-control-prev{
    opacity: unset;
    cursor: pointer;
    top: 80%;

    @media(max-width: 768px){
    top: 92%;
    }
}
.carousel-control-next{
    right: 25%;

    @media(max-width: 768px){
        right: 0%;
    }
}
.carousel-control-prev{
    left: 25%;
     @media(max-width: 768px){
        left: 0%;
    }
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    width: 26px;
    height: 30px;
    opacity: .3;
}

.carousel-control-next-icon:hover, .carousel-control-prev-icon:hover{
    
    opacity: 1;
}
.chapter_box{
    min-height: 570px;
    
}
.chapter-one-box{
    padding: 10px 10px 40px 55px !important;

    @media (max-width:768px){
        padding: 10px 10px 40px 10px !important;
    }
}
.chapter_number{
    font-family: 'Avenir Next LT Pro Demi' !important;
    font-weight: bolder;
    font-size: 10rem;
    right:0%;
    bottom: -14%;
    opacity: .2;
}
.red_line{
     border-top: 6px solid $wine;
    width: 5%;
    left: 0%;
    top:15%;
}
.white_line{
     border-top: 40px solid white;
    width: 15%;
    left: 0%;
    top:32%;

    @media (max-width: 768px){
        display: none;
    }
}
.red_line_two{
    border-top: 153px solid #db3856;
    width: 44%;
    right: 0%;
    top: 11%;

    @media(max-width: 768px){
        display: none;
    }
}
.btn:hover{
    color: white !important;
}
.btn-next-chapter-box{
    padding: 5rem;
}
.btn-next-chapter{
    background: $blue;
    color: white;
    border-radius: 30px;
    padding: 0.5rem 1rem;
}


#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: $orange;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: $blue;
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
.key-round{
    // padding: 1rem;
    border-style: solid;
    border-width: 2px;
    border-color: $grey;
    width: 5.5rem;
    height: 5.5rem;
    text-align: center;
    border-radius: 50%;
    margin: auto;
    display: table;
    // height: 1%;

    span{
        display: table-cell;
        vertical-align: middle;
    }
}
.bg-blue{
    background: $blue;
}
.bg-light-grey{
    background: $light-grey;
}
.ch3-one{
    background: url(../img/ch3_bg1.png);
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: 767px) {
        background: url(../img/ch3_bg1_mob.png);
        background-repeat: no-repeat;

    }
}
.ch3-cover-text{
    padding: 5rem;

    @media (max-width: 768px){
        padding: 0rem;
    }
}
footer{
    margin-top: 15rem;

    .col-10, .col-2{
        padding: 3rem 0rem;
    }

    @media(max-width: 768px){
        text-align: center;
    }
}

